.online-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 194px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #FF6C00;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #303030;
    margin-left: 50px;
        
}
.about__online-button{
    display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 40px;
        border-radius: 25px;
        border: 1px solid #FF6C00;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        background-color: #ffffff;
        color: #303030;

}