body {
    font-family: raleway, sans-serif;
    
}


.link {
    text-decoration: none;
}

.container{
    width: 100%;
    
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.current{
    color: #FF6C00;;
}
