body {
    font-family: Open Sans, sans-serif;
    color: #555555;
}


.link {
    text-decoration: none;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @include tel{
        width: 480px;
    } 
    
@include tab{
    width: 768px;
}
    @include desk{
    width: 1200px;
}
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.current{
    color: #FF6C00;;
}
